@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Salsa", cursive;
}

a {
  outline: none;
}

body {
  background: url("../images/bg.jpg");
  background-size: cover;
  display: flex;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  max-width: calc(100% - 500px);
  position: fixed;
  left: 250px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  padding: 20px;
  overflow: auto;
}

main.w75 {
  max-width: calc(100% - 250px);
}

section {
  margin-top: 25px;
}

.breadcrumb {
  color: white;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.breadcrumb .breadcrumb-actions {
  min-width: 75px;
  font-size: 20px;
  height: 50px;
  padding: 0 20px;
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;
  background: #101010;
  border-radius: 10px;
  cursor: pointer;
}

.breadcrumb input#breadcrumb {
  display: none;
}

.breadcrumb input#breadcrumb:checked ~ .breadcrumb-dropdown {
  height: 180px;
}

/* .breadcrumb input#breadcrumb:checked ~ .breadcrumb-dropdown.uploads { */
/* height: 140px; */
/* } */

.breadcrumb .breadcrumb-dropdown {
  position: fixed;
  top: 80px;
  right: 20px;
  font-size: 16px;
  background: #101010;
  color: lightgray;
  border-radius: 10px;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.breadcrumb-dropdown .dropdown-item {
  padding: 12.5px;
  border-radius: 6px;
  cursor: pointer;
}

.breadcrumb-dropdown .dropdown-item:hover {
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

.breadcrumb-dropdown .dropdown-item:hover a {
  color: white;
}

.breadcrumb-dropdown .dropdown-item a {
  text-decoration: none;
  color: lightgrey;
  height: 100%;
  width: 100%;
}
.breadcrumb-dropdown .dropdown-item.del:hover {
  background: rgba(255, 0, 0, 0.1);
}
.breadcrumb-dropdown .dropdown-item.del a {
  color: red;
}

.section-upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-upper h2 {
  color: white;
}

.section-upper a {
  text-decoration: none;
  color: blue;
}

.section-upper a:hover {
  text-decoration: underline 1px blue;
}

.play-button {
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: rgb(17, 113, 241);
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  right: 5px;
  bottom: -17.5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  color: white;
}

.play-button:active {
  scale: 0.9;
  opacity: 0.9;
}

@media (max-width: 900px) {
  main {
    max-width: calc(100% - 250px);
  }
}

@media (max-width: 600px) {
  main {
    max-width: 100%;
    left: 0;
  }
  main.w75 {
    max-width: 100%;
  }
}
