@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Salsa", cursive;
}

a {
  outline: none;
}

body {
  background: url("../images/bg.jpg");
  background-size: cover;
  display: flex;
  overflow: hidden;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  max-width: calc(100% - 500px);
  position: fixed;
  left: 250px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  padding: 20px;
  overflow: auto;
}

main.w75 {
  max-width: calc(100% - 250px);
}

.song-container {
  max-width: 500px;
  width: 100%;
  height: 75px;
  background: #303030;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 125vh);
  border-radius: 10px;
  display: flex;
  position: relative;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  transition: all 1s ease;
}

.song-container.active {
  transform: translate(-50%, 85vh);
}

.song-container img {
  height: 100%;
  width: 55px;
  border-radius: 6px;
}

.song-container .song-details {
  display: grid;
}

.song-details span {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song-details span.song-name {
  color: white;
  font-size: 16px;
}

.song-details span.artist-name {
  color: lightgray;
  font-size: 12px;
}

.song-container .controls {
  max-width: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.song-container .controls button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #202020;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease;
}

.song-container .controls button:active {
  scale: 0.9;
}

.song-container .controls button:hover {
  background: #101010;
}

#close-song {
  color: white;
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0 6px 6px 0;
  transition: all 0.3s ease;
}

#close-song:hover {
  background: rgba(0, 0, 0, 0.25);
}

section {
  margin-top: 25px;
}

.nothing {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  height: 150px;
  color: white;
  width: 25rem;
}

.breadcrumb {
  color: white;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.breadcrumb .breadcrumb-actions {
  min-width: 75px;
  font-size: 20px;
  height: 50px;
  padding: 0 20px;
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;
  background: #101010;
  border-radius: 10px;
  cursor: pointer;
}

.breadcrumb-dropdown {
  position: fixed;
  top: 80px;
  font-size: 14px;
  right: 20px;
  background: #101010;
  border-radius: 8px;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.dropdown-item {
  padding: 12.5px;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-item:hover {
  background: rgba(0, 0, 0, 0.2);
  color: white;
}

.dropdown-item a {
  color: lightgray;
  text-decoration: none;
}

.breadcrumb input#breadcrumb {
  display: none;
}

.breadcrumb input#breadcrumb:checked ~ .breadcrumb-dropdown {
  height: 175px;
}

.breadcrumb input#breadcrumb:checked ~ .breadcrumb-dropdown.my-upload {
  height: 90px;
}

.breadcrumb-dropdown .dropdown-item.del:hover {
  background: rgba(255, 0, 0, 0.1);
}
.breadcrumb-dropdown .dropdown-item.del button {
  width: 100%;
  color: red;
  background: transparent;
  border: none;
}

.section-upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-upper h2 {
  color: lightgray;
}

.section-upper a {
  text-decoration: none;
  color: blue;
}

.section-upper a:hover {
  text-decoration: underline 1px blue;
}

.play-button {
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: rgb(17, 113, 241);
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  right: 5px;
  bottom: -17.5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  color: white;
}

.song-card label:active,
.play-button:active {
  scale: 0.9;
  opacity: 0.9;
}

.album-header img {
  height: 200px;
  width: 200px;
  border-radius: 15px;
  box-shadow: 0 0 10px 12px rgba(0, 0, 0, 0.1);
}

.album-header {
  position: relative;
}
.album-header h2 {
  color: white;
  font-size: 30px;
  margin: 20px 0;
}

.album-header .actions {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  bottom: 5%;
}

.album-header .actions button {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  color: white;
}

.album-header .actions button:active {
  scale: 0.9;
}

.album-header .actions button.main-play-button {
  translate: 0 -17.5px;
  background: dodgerblue;
}

.album-header .actions button.delete {
  background: rgb(255, 69, 69);
}

@media (max-width: 900px) {
  main {
    max-width: calc(100% - 250px);
  }
}

@media (max-width: 600px) {
  main {
    max-width: 100%;
    left: 0;
  }
  main.w75 {
    max-width: 100%;
  }
}
